<!DOCTYPE html>
<html>
  <head>
    <title>Form view.ejs</title>
    <meta charset="utf-8">
    <% include head.ejs %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="pb-4">
      <% include header.ejs %>
    </header>
    <main>
      <div class="container">
        <h1>User Modification</h1>
        <div class="row">
          <div class="col-6">
            <form action="/users/updateUser/<%= resultUserToModify.iduser %>" method="post" enctype="multipart/form-data">
              <div class="form-group">
                <label for="exampleInputUserName1">Name</label>
                <input type="text" name="userName" class="form-control"
                value="<%= resultUserToModify.name %>">
              </div>
              <div class="form-group">
                <label for="exampleInputUserEmail1">Email</label>
                <input type="email" name="userEmail" class="form-control"
                 id="exampleInputUserEmail1" value="<%= resultUserToModify.email %>">
              </div>
              <div class="form-group">
                <label for="exampleInputUserPassword1">Password</label>
                <input type="password" name="userPassword" class="form-control" 
                id="exampleInputUserPassword1">
              </div>
              <div class="form-group">
                <label for="exampleInputUserImage1">Image</label>
                <img src="/images/users/<%= resultUserToModify.image %>">
                <input type="file" name="userImage" class="form-control" 
                id="exampleInputUserImage1">
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </main>
    <% include footer.ejs %>
  </body>
</html>
