<!DOCTYPE html>
<html>
  <head>
    <title>Sign-up</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <% include head.ejs %>
  </head>
  <body>
    <header class="pb-4">
      <% include header.ejs %>
    </header>
    <main>
      <div class="container">
        <h1>Create a new user</h1>
        <div class="row">
          <div class="col-12 col-sm-12 col-md-8 col-lg-6 forms">
            <form action="/users/registered" method="post" enctype="multipart/form-data"> 
              <div class="form-group">
                <label for="exampleInputUserName1">Name</label>
                <input type="text" name="userName" class="form-control"
                 id="exampleInputUserName1" required>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">email</label>
                <input type="email" name="userEmail" class="form-control"
                 id="exampleInputEmail1" required>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" name="userPassword" class="form-control"
                 id="exampleInputPassword1" required>
              </div>
              <div class="form-group">
                <label for="exampleInputHotelImage1">Image</label>
                <div class="image-group">
                  <input type="file" name="userImage" class="form-file"
                 id="exampleInputImage1">
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Register</button>
            </form>
          </div>
        </div>
      </div>
    </main>
    <% include footer.ejs %>
  </body>
</html>
